/* FONT SIZES */
/* CHROMATICS */
* {
  cursor: default;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media screen and (max-width: 9999px) {
    html {
      font-size: 26px; }
      html #greeting-logo {
        width: 75%; }
        html #greeting-logo img {
          width: 25%;
          margin-right: 0.5rem; }
      html #invitation {
        margin: auto;
        width: 60%;
        padding: 0.5rem; }
      html #helpers {
        margin: auto;
        width: 60%;
        padding: 0.5rem; } }
  @media screen and (max-width: 1650px) {
    html {
      font-size: 24px; } }
  @media screen and (max-width: 1450px) {
    html {
      font-size: 22px; } }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 20px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 18px; }
      html #container {
        width: 100%; }
      html #greeting-logo {
        width: 50%; }
        html #greeting-logo img {
          width: 100%; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 16px; }
      html #invitation {
        width: 90%; }
      html #helpers {
        width: 100%; } }
  @media screen and (max-width: 667px) {
    html {
      font-size: 14px; } }

body {
  background-color: #F3F4ED;
  color: #536162;
  font-size: 1rem;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 0.2rem; }

ul {
  list-style: none;
  padding: 0rem; }

#container {
  margin: auto;
  width: 75%;
  padding: 0rem; }
  #container #greeting {
    margin: auto;
    width: 75%;
    padding: 0rem;
    transition: color, 0.5s; }
    #container #greeting h1 {
      font-size: 1.75rem; }
    #container #greeting:hover {
      color: #424642; }
  #container hr {
    border-color: #424642; }
  #container #invitation {
    display: flex;
    justify-content: space-between;
    transition: color, 0.5s; }
    #container #invitation .invitation-img {
      width: 20%;
      align-self: center;
      text-align: center; }
      #container #invitation .invitation-img img {
        width: 100%; }
    #container #invitation #invitation-text {
      width: 70%;
      font-size: 1.25rem; }
    #container #invitation:hover {
      color: #424642; }
  #container #helpers {
    transition: color, 0.5s; }
    #container #helpers #helper-text {
      color: #536162;
      font-size: 1.25rem; }
    #container #helpers #helper-guides {
      display: flex;
      justify-content: center;
      letter-spacing: 0.12rem; }
      #container #helpers #helper-guides .helper-guide {
        display: flex;
        flex-direction: column;
        transition: color, 0.5s; }
        #container #helpers #helper-guides .helper-guide .icon {
          text-align: center;
          width: 5rem;
          height: 5rem; }
        #container #helpers #helper-guides .helper-guide a {
          cursor: pointer;
          text-decoration: none;
          color: #424642; }
          #container #helpers #helper-guides .helper-guide a:hover {
            color: #C06014;
            transform: scale(1.2); }
        #container #helpers #helper-guides .helper-guide:hover {
          color: #424642; }
  #container #navigation p {
    word-spacing: -0.25rem; }
    #container #navigation p a {
      cursor: pointer;
      text-decoration: none;
      color: #424642; }
      #container #navigation p a:hover {
        color: #C06014;
        transform: scale(1.2); }

/*# sourceMappingURL=style.css.map */
