/* FONT SIZES */
$font-xs:   0.25rem;
$font-s:    0.5rem;
$font-m:    1rem;
$font-l:    1.25rem;
$font-xl:   1.75rem;
$font-xxl:  2.25rem;

/* CHROMATICS */
$black: #424642;
$dark-grey: #536162;
$orange: #C06014;
$white: #F3F4ED;